/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.padding {
    padding: 15px;
}

button{
    float:right;
}

a:before {
	display:		inline-block;		
  	width:		0; 		
  	height:		0; 	
	border-top:		solid transparent;
	border-bottom: 	solid transparent;
	border-left:	        solid;	
	border-width:	5px;
	content:		' ';
	margin-right:	5px;
}

p{
    font-weight:bold;
}